body{
    background-color:rgb(170, 195, 216);
    
}
.ss1 {
 background-color: bisque;
 height: 450px;
 width: 450px ;
 margin-top: 150px;
 

 border-radius: 25px;
 box-shadow: 0 10px 25px black;
}
.ss2 {
 margin-top:-450px ;
}